@import "tailwindcss";

:root {
  --background: #1F1434;
  --foreground: #FFFFFF;
  --font-play: "Play", sans-serif;
  --color-primary: #F26E22
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-play);
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

p {
  font-size: 18px;
}

p.small {
  font-size: 16px;
}

p.grey {
  opacity: .7;
}


.primary-button {
  display: flex;
  padding: 14px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: var(--color-primary);
  box-shadow: 0px 4px 20px 0px rgba(242, 110, 34, 0.20);
}

.secondary-button {
    display: flex;
    padding: 14px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #8D78E9;
}

.tag-button {
  display: inline-flex;
  padding: 4px 14px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--color-primary);
  border-radius: 5px;
}
.tag-button.green {
  background-color: #246E51
}

/* MUI Custom CSS */
.MuiInputBase-root,
.MuiInputLabel-root,
.MuiOutlinedInput-input {
  font-family: "Play", sans-serif !important;
}
/**/

@media screen and (max-width: 640px) {
  h1 {
    font-size: 44px;
    line-height: 48px;
  }
  h2 {
    font-size: 32px;
    line-height: 48px;
  }
  h3 {

  }
  p {
    font-size: 16px;
  }
}