@import "tailwindcss";

:root {
  --background: #1F1434;
  --foreground: #FFFFFF;
  --font-play: "Play", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-play);
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
}

p {
  font-size: 18px;
}